{% extends 'stream/base.html' %}
{% block content %}
    <div class="container" style="margin-top: 25px;">
        {% if user.is_authenticated %}
        <div id="overlay" class="float-center" style="position:fixed; top:30%;">
            <div>
                <p class="text-dark">Are you sure to logout?</p>
                <button id="logout" class="float-left submit-button me-1">Logout</button>
                <button id="cancel" class="float-left submit-button">Cancel</button>
            </div>
        </div>
        {% endif %}
        <div style="margin-top: 25px; padding-top: 100px;">
            {% for item in videos %}
                {% if item.sender == user or item.receiver == user %}
                    <div class="card mb-3" style="width: 75%; box-shadow: 12em; margin: auto;">
                        <img class="rounded-circle border-dark" src="{{ item.sender.profile.image.url }}" style="border-color: red;" width="50" height="50">
                        <a class="mr-2" href="{% url 'stream:user-videos' item.sender.username %}" style="text-align: start;">{{ item.sender }}</a>
                        <h12 style="text-align: start;">{{ item.sendtime }}</h12>
                        <video class="card-img-top" controls style="width: 100%; height: auto;">
                            {% comment %} <source src="{{ item.video.url }}" type="video/mp4"> {% endcomment %}
                            <source src="{{ item.video }}" type="video/mp4">
                        </video>
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'stream:video-detail' item.id  %}">{{ item.title }}</a></h5>
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
